# Compiler artifacts (Remix & Hardhat)
artifacts/
cache/
out/

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Env files (API keys, secrets)
.env
.env.local

# OS junk files
.DS_Store
Thumbs.db
